body {
  padding-top: 60px;
  padding-bottom: 40px;
}


h3 {
  margin-top: 18px;
}


.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}

*[rel~="http://xmlns.com/foaf/0.1/depiction"] {
	max-width: 40%;
	max-height: 300px;
	margin: 10px;
}

/* *[property~="http://bakepedia.org/ontology#comment"]:before { */
/* 	content:"(" ; */
/* } */

/* *[property~="http://bakepedia.org/ontology#comment"]:after { */
/* 	content:")" ; */
/* } */