body {
  padding-top: 60px;
  padding-bottom: 40px;
}


h3 {
  margin-top: 18px;
}


.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}

*[rel~="http://xmlns.com/foaf/0.1/depiction"] {
	max-width: 40%;
	max-height: 200px;
	margin: 10px;
}

.span3 *[rel~="http://xmlns.com/foaf/0.1/depiction"] {
	max-width: 100%;
	max-height: 200px;
	margin: 0px;
}

.media img {
	max-width: 100px;
	max-height: 100px;
}


.highlight {
	background-color: #a5dca3;
}

.highlight[typeof~="http://bakepedia.org/ontology#Step"] {
	background-color: #d5d6ff;
}

*[typeof~="http://schema.org/VideoObject"], *[typeof~="http://www.w3.org/ns/ma-ont#MediaResource"]  {
	position: relative;
}

/* *[property~="http://bakepedia.org/ontology#comment"]:before { */
/* 	content:"(" ; */
/* } */

/* *[property~="http://bakepedia.org/ontology#comment"]:after { */
/* 	content:")" ; */
/* } */