<!DOCTYPE html>
<html lang="en" about="http://example.com/foo" typeof="http://purl.org/ontology/bibo/Webpage">
<head>
	<meta charset="UTF-8">
	<base href="http://localhost:8080/" />
	<title property="http://www.w3.org/2000/01/rdf-schema#label">knowl:edge - Home</title>
	<link rel="icon" href="static/images/favicon.gif" type="image/x-icon"/>

    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="http://cdn.aloha-editor.org/latest/css/aloha.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="static/css/styles.css"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<script src="static/js/parser.js"></script>
    <script src="static/js/dom.js"></script>
	<script src="static/js/app.js"></script>
 
	<script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/vendor/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/require.js"></script>
	<script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/aloha.js" data-aloha-plugins="common/format,common/list,common/link"></script>	 
	
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">knowl:edge</a>
					<ul class="nav">
						<li><a href="blog">Blog</a></li>
						<li><a href="people">People</a></li>
						<li><a href="products">Products</a></li>
						<li><a href="bostonians">Bostonians</a></li>
					</ul>
					<a id="edit-btn" href="javascript:void(0)" class="btn pull-right">Edit</a>
				</div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="row">
				<div id="test-content" rel="http://knowl-edge.org/ontology/core#contains">
				
					<div class="span12" about="http://dbpedia.org/resource/Peter_Pan" typeof="http://xmlns.com/foaf/0.1/Person">
						<h3 property="http://xmlns.com/foaf/0.1/name">Peter Pan</h3>
						<div rel="http://xmlns.com/foaf/0.1/depiction"><img src="static/img/placeholder/300x200.gif" class="img-polaroid pull-right" /></div>
						<div property="http://dbpedia.org/ontology/abstract">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
						<div rel="http://knowl-edge.org/ontology/core#externalLink http://dbpedia.org/ontology/wikiPageExternalLink"><a href="people">Read More</a></div>
					</div>
					
					<div class="span6" about="urn:uuid:61ba651a-a854-42f6-9d2b-c0cfb30c3cbf" typeof="http://rdfs.org/sioc/types#BlogPost">
						<h3 property="http://purl.org/dc/elements/1.1/title">About Us</h3>
						<div class="well">
							Author(s):
							<ul class="authors">
								<li rel="http://purl.org/dc/elements/1.1/creator">
									<span about="http://dbpedia.org/resource/Peter_Pan" typeof="http://xmlns.com/foaf/0.1/Person"><span property="http://xmlns.com/foaf/0.1/name http://www.w3.org/2000/01/rdf-schema#label">Peter Pan</span></span>
								</li>
							</ul>
							<div>Published: <span property="http://purl.org/dc/terms/created" content="1970-01-01T00:00:00+00:00">Jan 1 1970</span></div>
						</div>
						<div rel="http://knowl-edge.org/ontology/core#contains">
							<div about="urn:uuid:foob3866-7cf0-4d4a-ad58-56c3d90c5bar" typeof="http://xmlns.com/foaf/0.1/Image" rel="http://xmlns.com/foaf/0.1/depiction"><img src="static/img/placeholder/300x200.gif" class="img-polaroid pull-right" /></div>
							<div about="urn:uuid:aebb3866-7cf0-4d4a-ad58-56c3d90c5bb5" typeof="http://www.w3.org/2011/content#ContentAsXML">
								<p property="http://www.w3.org/2011/content#rest">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy.</p>
							</div>
						</div>
						<div rel="http://knowl-edge.org/ontology/core#internalLink"><a href="blog">Read More</a></div>
					</div>

					<div class="span12" about="http://example.com/121321341252345" typeof="http://purl.org/goodrelations/v1#BusinessEntity">
						<h1 property="http://purl.org/goodrelations/v1#legalName">Company Ltd.</h1>
						<h2>Our Offers</h2>
						<div class="container">
							<div class="row">
								<div rel="http://purl.org/goodrelations/v1#offers">
									<div class="span6" about="http://example.com/resources/offering65523" typeof="http://purl.org/goodrelations/v1#Offering">
										<div rel="http://xmlns.com/foaf/0.1/depiction"><img src="static/img/placeholder/300x200.gif" class="img-polaroid pull-right" /></div>								
										<div rel="http://purl.org/goodrelations/v1#includes">
											<div typeof="http://purl.org/goodrelations/v1#ActualProductOrServiceInstance">
												<h3 property="http://purl.org/goodrelations/v1#name">Product A</h3>
												<div property="http://purl.org/goodrelations/v1#description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
											</div>
										</div>
										<div>(Valid from&nbsp;<span property="http://purl.org/goodrelations/v1#validFrom">1.1.2010</span>&nbsp;through&nbsp;<span property="http://purl.org/goodrelations/v1#validThrough">10.10.2010</span>)</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
					
					<div class="span12" about="urn:uuid:61ba651a-a854-42f6-9d2b-c0cfb30c3cbf" typeof="http://dbpedia.org/ontology/Software">
						<h3 property="http://dbpedia.org/property/name">Software</h3>
						<p property="http://dbpedia.org/ontology/abstract">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy.</p>
						<div rel="http://dbpedia.org/property/platform"> 
							<span about="http://dbpedia.org/resource/Foo" typeof="http://dbpedia.org/ontology/ProgrammingLanguage">
								Language: <span property="http://www.w3.org/2000/01/rdf-schema#label">Language</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container">
			<a id="load-btn" href="javascript:void(0)" class="btn">GET</a> <input id="iri-field" type="text" value="http://example.com/ACMECorp">
		</div>
				
		<footer class="container footer">
			<div class="row">
				<div class="span12"> © 2012 Jochen Rau </div>				
			</div>
		</footer>
	</div>
</body>
</html>
