<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.1//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-2.dtd">
<html class="no-js" lang="en" about="http://example.com/foo" typeof="http://purl.org/ontology/bibo/Webpage">
<head>
	<meta charset="UTF-8">
	<title property="http://www.w3.org/2000/01/rdf-schema#label">knowl:edge - Home</title>
	<link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/> 
		<link rel="stylesheet" type="text/css" href="css/styles.css"/>
	</head>
	<body>
		<div class="bg">
			<!--start container-->
			<div id="container">
				<!--start header-->
				<header>
					<!--start logo-->
					<a href="#" id="logo"><img src="images/logo.png" width="180" height="43" alt="logo"/></a>    
					<!--end logo-->
					<!--start menu-->
					<nav>
						<ul>
							<li><a href="#" class="current">Home</a></li>
							<li><a href="http://localhost:8080/blog">News</a></li>
							<li><a href="http://localhost:8080/products">Products</a></li>
						</ul>
					</nav>
					<!--end menu-->
					<!--end header-->
				</header>
				<!--start holder-->
				<div class="holder_content" rel="http://knowl-edge.org/ontology/core#contains">
					<div about="urn:uuid:61ba651a-a854-42f6-9d2b-c0cfb30c3cbf" typeof="http://dbpedia.org/ontology/Software">
						<h3 property="http://dbpedia.org/property/name">Name</h3>
						<p property="http://dbpedia.org/ontology/abstract">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy.</p>
						<div rel="http://dbpedia.org/property/platform"> 
							<span about="http://dbpedia.org/resource/Foo" typeof="http://dbpedia.org/ontology/ProgrammingLanguage">
								Language: <span property="http://www.w3.org/2000/01/rdf-schema#label">1.0.0</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!--end holder-->
		</div>
		<!--end container-->
		<!--start footer-->
		<footer>
			<div class="container">  
				<div id="FooterTwo"> © 2012 Jochen Rau </div>
				<div id="FooterTree">Design by <a href="http://www.marijazaric.com">marija zaric - creative simplicity</a> </div>
			</div>
		</footer>
		<!--end footer-->
	</div>
	<!--end bg-->
	<!-- Free template distributed by http://freehtml5templates.com -->
</body>
</html>
