<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" 
    version="XHTML+RDFa 1.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.w3.org/1999/xhtml
                        http://www.w3.org/MarkUp/SCHEMA/xhtml-rdfa-2.xsd"
    lang="en"
    xml:lang="en"
    typeof="http://xmlns.com/foaf/0.1/Document">
<head>
	<meta charset="UTF-8">
	<base href="http://localhost:8080/" />
	<title property="http://www.w3.org/2000/01/rdf-schema#label">HowTo Template</title>
	<link rel="icon" href="static/img/favicon.ico" />

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
	<link href="http://cdn.aloha-editor.org/latest/css/aloha.css" rel="stylesheet" type="text/css" />
	<link href="static/css/styles.css" rel="stylesheet" type="text/css" />
	
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Bakepedia</a>
				<ul class="nav">
					<li><a href="recipes">Recipes</a></li>
					<li><a href="ingredients">Ingredients</a></li>
					<li><a href="guides">How To</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div id="test-content" rel="http://knowl-edge.org/ontology/core#contains">
				<div class="span12" about="http://bakeopedia.org/guides/installing_the_multipurpose_blade" typeof="http://bakepedia.org/ontology#Guide">
					<h2 property="http://schema.org/name">
						Installing the Multipurpose Blade
					</h2>
					<p property="http://bakepedia.org/ontology#info" class="alert alert-block">
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<div class="container">
						<div class="row">
							<div class="span9">	
								<h4>Steps</h4>
								
								<ol inlist="" rel="http://bakepedia.org/ontology#steps">
									<li typeof="http://bakepedia.org/ontology#Step">
										<p property="http://schema.org/text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										<p><img rel="http://schema.org/image" src="static/img/placeholder/300x200.gif" class="img-polaroid"></img></p>
									</li>
								</ol>
							</div>
							<div class="span3">

								<h4>Related Products and Recipes</h4>

								<div rel="http://knowl-edge.org/ontology/core#related">
									<div typeof="http://knowl-edge.org/ontology/core#Menu">
										<ul inlist="" rel="http://knowl-edge.org/ontology/core#entries">
											<li about="http://bakepedia.org/page43422" typeof="http://knowl-edge.org/ontology/core#MenuEntry">
												<a href="recipes/almond-oat-strawberry-shortcakes"><span property="http://knowl-edge.org/ontology/core#title">Page Title</span></a>
											</li>
										</ul>
									</div>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	  	
	<footer class="container footer">
		<div class="row">
			<div class="span12">&nbsp;</div>				
		</div>
	</footer>
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.js"></script>
	<script type="text/javascript" src="static/js/parser.js"></script>
	<script type="text/javascript" src="static/js/dom.js"></script>
	<script type="text/javascript" src="static/js/rdf_store.js"></script>
	<script type="text/javascript" src="static/js/app.js"></script>
	
</body>
</html>
