<!DOCTYPE html>
<html lang="en" typeof="http://xmlns.com/foaf/0.1/Document">
<head>
	<meta charset="UTF-8">
	<base href="http://localhost:8080/" />
	<title property="http://www.w3.org/2000/01/rdf-schema#label">knowl:edge - People</title>
	<link rel="icon" href="static/img/favicon.ico" />

    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="http://cdn.aloha-editor.org/latest/css/aloha.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="static/css/styles.css"/>
	
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">knowl:edge</a>
					<ul class="nav">
						<li><a href="posts">Blog</a></li>
						<li><a href="people">People</a></li>
						<li><a href="products">Products</a></li>
						<li><a href="bostonians">Bostonians</a></li>
						<li><a href="recipes">Recipes</a></li>
					</ul>
					<a id="edit-btn" href="javascript:void(0)" class="btn pull-right">Edit</a>
				</div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="row">
				<div rel="http://knowl-edge.org/ontology/core#contains">
				
					<div class="span12" about="http://dbpedia.org/resource/Peter_Pan" typeof="http://xmlns.com/foaf/0.1/Person">
						<h3 property="http://xmlns.com/foaf/0.1/name">Peter Pan</h3>
						<p><img rel="http://xmlns.com/foaf/0.1/depiction" src="static/img/placeholder/300x200.gif" class="img-polaroid pull-right" /></p>
						<div property="http://dbpedia.org/ontology/abstract">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
						<ul rel="http://dbpedia.org/ontology/successor"><li about="http://dbpedia.org/resource/Person_X" typeof="http://schema.org/Person"><span property="http://dbpedia.org/property/name">Peter Pan</span></li></ul>
						<p>Read more on Wikipedia: <a rel="http://knowl-edge.org/ontology/core#externalLink http://dbpedia.org/ontology/wikiPageExternalLink" href="#">Read More</a></p>
					</div>
					
			</div>
		</div>
					
		<footer class="container footer">
			<div class="row">
				<div class="span12"> © 2012 Jochen Rau </div>				
			</div>
		</footer>
	</div>
	    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<script src="static/js/parser.js"></script>
    <script src="static/js/dom.js"></script>
	<script src="static/js/app.js"></script>
 
	<script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/vendor/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/require.js"></script>
	<script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/aloha.js" data-aloha-plugins="common/format,common/list,common/link"></script>	 
	
</body>
</html>
